body{
  background-color:#F2F2F0;
  /*background-image: url(https://i.redd.it/3d5si8f0jfiy.jpg);*/
  /*#BFF4ED;*/
}
.app-header{
  width: 100vw;
  background-image: url(https://i.redd.it/3d5si8f0jfiy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*background-color:  #57bc90;*/
  color:white;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-title{
  font-size: 72px;
}
.sign-in-container{
  display: flex;
  justify-content: center;
}
.home{
  margin-top: 25px;
  text-align: center;
  font-size:24px;

}
.get-container{
  display: flex;
  justify-content: center;
}
.get-restaurants{
  height: 43px;
  width: 210px;
  margin-top: 20px;
  border: none;
}
.get-restaurants:hover{
  background-color: #1B3C59;
  color: white;
}

.sign-out{
  border: none;
  position: absolute;
  top: 68px;
  right: 10px;
  height: 30px;
  width: 83px;
}
.sign-out:hover{
  background-color: #1B3C59;
  color: white;
}
.sign-in:hover{
  background-color: #1B3C59;
  color: white;
}
.sign-in{
  border: none;
  margin-top: 15%;
  height: 43px;
  width: 83px;
}
a{
  color: black;
  text-decoration: none;
}
.welcome{
  margin: 10px 0;
  font-size: 24px;
  text-align: center;

}
.restaurant-list{
  display:flex;
  width: 100%;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;

}
.single-restaurant{
  background-color:#BFF4ED;
  flex-grow: 1;
  text-align: center;
  margin: 10px;
  padding:10px;
  border-style: solid;
  border-width: medium;
}
.single-review{
  margin-bottom: 10px;
  text-align: center;
  margin: 10px;
  padding:10px;
  border-style: solid;
  border-width: thin;
}
.restaurant-name{
  text-align: center;
  margin: 20px 0;
  font-size: 32px;
}
