body{
  background-color:black;

}
.app-header{
  width: 100vw;
  background-image: url(https://i.redd.it/3d5si8f0jfiy.jpg);
  font-family: 'Baloo', cursive;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*background-color:  #57bc90;*/
  color:white;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading{
  color: white;
}
.app-title{
  font-size: 72px;
}

.sign-in-container{
  display: flex;
  justify-content: center;
}
.welcome{
  color: white;
  font-family: 'Montserrat', sans-serif;

}
.home{
  margin-top: 25px;
  text-align: center;
  font-size:48px;
  color: white;
  font-family: 'Montserrat', sans-serif;

}
.get-container{
  display: flex;
  justify-content: center;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fav-btn{
    height: 43px;
    width: 210px;
    margin-bottom: 10%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;

}
.home-btn{
    height: 43px;
    width: 210px;
    margin-bottom: 10%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;


}
.get-restaurants{
  height: 15%;
  width: 210px;
  margin-top: 20px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;


}
.get-restaurants:hover{
  background-color: #1B3C59;
  color: white;
}
.fav-btn:hover{
  background-color: #1B3C59;
  color: white;
}
.home-btn:hover{
  background-color: #1B3C59;
  color: white;
}
.note-btn:hover{
  background-color: #1B3C59;
  color: white;
}

.sign-out{
  border: none;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 68px;
  right: 7%;
  height: 30px;
  width: 83px;
}
.sign-out:hover{
  background-color: #1B3C59;
  color: white;
}
.sign-in:hover{
  background-color: #1B3C59;
  color: white;
}
.sign-in{
  border: none;
  margin-top: 15%;
  height: 43px;
  width: 83px;
}
a{
  color: black;
  text-decoration: none;
}
.welcome{
  margin: 10px 0;
  font-size: 24px;
  text-align: center;

}
.restaurant-list{
  /*display:flex;*/
  width: 65%;
  margin: auto;

}
.single-restaurant{
  background-color:DIMGREY;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 10px;
  padding:10px;
  border-style: solid;
  border-width: medium;
}
.single-restaurant:hover{
  background-color: #1B3C59;

}
.review-container{
  margin: auto;
  width: 65%;
}
.restaurant-name{
  color: white;
}
.input-container{
  margin: 5% 0;
  display: flex;
  justify-content: center;
}
.single-review{
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color:DIMGREY;
  margin-bottom: 10px;
  text-align: center;
  margin: 10px;
  padding:10px;
  border-style: solid;
  border-width: thin;
}
.single-review:hover{
  background-color: #1B3C59;

}
.favorite-container{
  margin: auto;
  width: 65%;
}
.single-favorite{
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color:DIMGREY;
  margin-bottom: 10px;
  text-align: center;
  margin: 10px;
  padding:10px;
  border-style: solid;
  border-width: thin;
}
.single-favorite:hover{
  background-color: #1B3C59;

}
.note-container{
  margin: auto;
  width: 65%;
}
.single-note{
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color:DIMGREY;
  margin-bottom: 10px;
  text-align: center;
  margin: 10px;
  padding:10px;
  border-style: solid;
  border-width: thin;
}
.single-note:hover{
  background-color: #1B3C59;

}
.notes-page{
  text-align: center;
  margin: 20px 0;
  font-size: 32px;
  color:white;
}
.restaurant-name{
  text-align: center;
  margin: 20px 0;
  font-size: 32px;
}
.no-fav{
  color: white;
  text-align: center;
  margin: 20px 0;
  font-size: 32px;
}
.add-note{
  width: 30%;
  background-color: dimgray;
  color: white;
  border: none;
  font-size: 24px;
}
.submit{
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
.make-fav{
  display: flex;
  justify-content: center;
}
.favorite-restaurant{
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
.favorite-restaurant:hover{
  background-color: #1B3C59;
  color: white;
}
.note-btn{
  height: 43px;
  width: 210px;
  margin-bottom: 10%;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  /*position: relative;*/
  /*right: -176px;*/
}
.note-btn-link{
  margin:0 20px;
}
